h1 {
  display: flex;  
  color:blue
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  body {
    background-color:lightblue;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  /*CSS for main body of site*/
  h2 {
    color:rgb(230, 14, 18);
    margin: 20px 20px 20px 20px;
    
   }
  /*employing flex box for titles paragraphs and imagesw*/

   .aboutMe {
  display: flex;
  font-size: 20px;
  }
  
  .Work {
    display:inline-flex;
    font-size: 20px;
  }
  
  .Contact {
    display: flex;
    font-size: 20px;
  }

  .refactor {
    margin-left: 100px;
  }

  /*image thumbnail enlargement*/
  .thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
    
   
    .thumbnail:hover { 
    transform: scale(2); }