h1 {
    color:blue
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  h2 {
    color:rgb(230, 14, 18);
    margin: 20px 21px 20px 20px;
    
   
  }
  .aboutMe {
  display: flex;
  font-size: 25px;
  }
  .Work {
    display: flex;
    font-size: 25px;
  }